# Claude Code
.claude/
CLAUDE.md

# Antigravity AI
.gemini/
.antigravity/
GEMINI.md


# Python
__pycache__/

*.py[cod]
*$py.class
.venv
venv/
ENV/
env/

# Spark & Hadoop
# Ignorar o warehouse do Iceberg para não subir gigabytes de dados binários para o git
iceberg-warehouse/
*.out
*.log
spark-warehouse/
metastore_db/
spark-logs/

# Docker
.docker-logs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
